<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en-US">
  <head>
    <!-- Document Meta-->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- IE Compatibility Meta-->
    <meta name="author" content="zytheme"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Multi-purpose Business html5 landing page"/>
    <link href="{% static 'assets/images/favicon/favicon.png' %}" rel="icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700ii%7CMerriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet" type="text/css"/>
    <!-- Stylesheets-->
    <link href="{% static 'assets/css/vendor.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
    <!--
    Document Title
    =============================================
    -->
    <title>{% block title %} Home {% endblock %}</title>
  </head>
  <body class="body-scroll">
    <!--
    Document Wrapper
    =============================================
    -->
    <div class="wrapper clearfix" id="wrapper">
      <!--
      Header
      =============================================
      -->
      <header class="header header-1 header-transparent header-fixed" id="navbar-spy">
        <nav class="navbar navbar-hidden navbar-sticky navbar-expand-lg" id="primary-menu">
          <div class="container"> <a class="logo navbar-brand" href="englishangrezi_index.html"><img class="logo logo-dark" src="{% static 'assets/images/logo/logo-dark2.png' %}" alt="Lenoto Logo"/><img class="logo logo-light" src="{% static 'assets/images/logo/logo-light1.png' %}" alt="Lenoto Logo"/></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" data-scroll="scrollTo" href="#hero">home</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#reviews">reviews</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#feature2">feature</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#banner">author</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#pricing">pricing</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#cta">download</a></li>
                <!-- <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#footer">footer</a></li> -->
              </ul>
            </div>
            <!-- End .nav-collapse-->
          </div>
        </nav>
      </header>

      <!--
      hero #1
      =============================================
      -->
      <section class="hero hero-2" id="hero">
        <div class="bg-ytvideo bg-overlay bg-overlay-dark" data-vid-id="ZKEaypYJbb4"> </div>
        <div class="hero-content">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="hero-logo mt-100 d-none d-sm-block wow fadeInUp" data-wow-duration="1s"><img src="{% static 'assets/images/logo/logo-light1.png' %}" alt="logo hero"/></div>
              </div>
            </div>
            <div class="row row-content">
              <div class="col-12 col-md-5  wow fadeInUp" data-wow-duration="1s">
                <div class="hero-holder"><img class="img-fluid" src="{% static 'assets/images/mockup/book1a.png' %}" alt="screens"/></div>
              </div>
              <div class="col-12 col-md-6 offset-md-1  pt-100 wow fadeInUp" data-wow-duration="1s">
                <div class="hero-headline">Make the Best Impression with the Best English Expression.</div>
                <div class="hero-bio">Simple, Easy and Effective created to Keep you at mind. Even six years old can learn and use them. No Kidding! Click and try...</div>
                <div class="hero-action"><a class="btn btn--primary btn--rounded" href="#">Free Download</a><a class="btn btn--primary btn--rounded" href="#">Buy</a></div>
                </div>
            </div>
            <!-- End .row  -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .hero-content  -->
      </section>

      <!-- End #hero   -->
      <br>
      <br>
      <section width=" 1920px", height= "1080px", background-color= "#ffffff", margin-left = "260px">
        <div class="container">
              <div class="row clearfix">
                <div class="row">
                  <div class="card">
                    <p><i class="fa fa-check"></i></p>
                    <h4 itemprop="headline"><span class="counter">6</span></h4>
                    <span>Downloads</span>
                  </div>
                </div>
                <div class="row">
                  <div class="card">
                    <p><i class="fa fa-smile-o"></i></p>
                    <h4 itemprop="headline"><span class="counter">6</span></h4>
                    <span>Happy Customers</span>
                  </div>
                </div>
              </div>
        </div>
      </section>
      <!-- <section width=" 1920px", height= "1080px", background-color= "#ffffff", margin-left = "260px">
         <div class="Rectangle-18">
        <h4 itemprop="headline"><span class="counter">6</span></h4>
          <span>Happy Customers</span>
          <h4 itemprop="headline"><span class="counter">6</span></h4>
          <span>Downloads</span>
        </div>
      </section> -->



       <!--
      reviews
      ================================================
      -->



      <section class="reviews bg-white" id="reviews">
        <div class="container">
          <div class="row clearfix">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="heading heading-1 mb-80 text--center wow fadeInUp" data-wow-duration="1s">
                <h2 class="heading--title">Testimonials</h2>
              </div>
            </div>
            <!-- End .col-lg-6 -->
          </div>
          <!-- End .row  -->
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="owl-carousel " data-slide="2" data-slide-res="1" data-autoplay="true" data-nav="false" data-dots="false" data-space="30" data-loop="true" data-speed="800">
                <!--  Testimonial #1   -->
                {% for testimonal_elem in testimonal %}
                <div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">
                  <div class="testimonial-body">
                    <div class="testimonial--body">
                      <p>“{{testimonal_elem.details}}”</p>
                    </div>
                    <div class="testimonial--meta">
                      <div class="testimonial--author"><img src="{{testimonal_elem.image.url}}" alt="author"/>
                        <h5>{{testimonal_elem.name}}</h5>
                        <p>{{testimonal_elem.position}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!--  Testimonial #2   -->
                <!--<div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">-->
                  <!--<div class="testimonial-body">-->
                    <!--<div class="testimonial&#45;&#45;body">-->
                      <!--<p>“If you have complex eBook creation and design trend.trust Ebo’s e-Book, He is knowledgeable!”</p>-->
                    <!--</div>-->
                    <!--<div class="testimonial&#45;&#45;meta">-->
                      <!--<div class="testimonial&#45;&#45;author"><img src="assets/images/testimonials/2.png" alt="author"/>-->
                        <!--<h5>Jessy Arthur</h5>-->
                        <!--<p>UX designer</p>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;  Testimonial #3   &ndash;&gt;-->
                <!--<div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">-->
                  <!--<div class="testimonial-body">-->
                    <!--<div class="testimonial&#45;&#45;body">-->
                      <!--<p>“If you have complex eBook creation and design trend.trust Ebo’s e-Book, He is knowledgeable!”</p>-->
                    <!--</div>-->
                    <!--<div class="testimonial&#45;&#45;meta">-->
                      <!--<div class="testimonial&#45;&#45;author"><img src="assets/images/testimonials/1.png" alt="author"/>-->
                        <!--<h5>ayman fikry</h5>-->
                        <!--<p>web designer</p>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;  Testimonial #4   &ndash;&gt;-->
                <!--<div class="testimonial-panel wow fadeInUp" data-wow-duration="1s">-->
                  <!--<div class="testimonial-body">-->
                    <!--<div class="testimonial&#45;&#45;body">-->
                      <!--<p>“If you have complex eBook creation and design trend.trust Ebo’s e-Book, He is knowledgeable!”</p>-->
                    <!--</div>-->
                    <!--<div class="testimonial&#45;&#45;meta">-->
                      <!--<div class="testimonial&#45;&#45;author"><img src="assets/images/testimonials/2.png" alt="author"/>-->
                        <!--<h5>cone adresson</h5>-->
                        <!--<p>web developer</p>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
        <!-- End .container  -->
      </section>

      <!-- #reviews End -->


      <!--
      Feature #2
      =============================================
      -->
      <section class="feature feature-2 text-center bg-white" id="feature2">
        <div class="container">
          <div class="row clearfix">
            <div class="col-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading heading-1 mb-70 text--center wow fadeInUp" data-wow-duration="1s">
                <h2 class="heading--title">Take Control of Your Life! </h2>
                <p class="heading--desc">Accept no less than the best source to learn English. Learn English at your pace! </p>
              </div>
            </div>
            <!-- End .col-lg-6 -->
          </div>
          <!-- End .row  -->
          <div class="row">
            <!-- Panel #1  -->
            <div class="col-12 col-md-4 col-lg-4 ">
              <div class="feature-panel wow fadeInUp" data-wow-duration="1s">
                <div class="feature--icon"><i class="lnr lnr-bullhorn"></i></div>
                <div class="feature--content">
                  <h3>Take Control </h3>
                  <p>Do you know “ Improving English yields an average 28% improvement in expected salary?</p>
                </div>
              </div>
              <!-- .feature-panel end  -->
            </div>
            <!-- .col-md-4 end  -->
            <!-- Panel #2  -->
            <div class="col-12 col-md-4 col-lg-4 ">
              <div class="feature-panel wow fadeInUp" data-wow-duration="1s">
                <div class="feature--icon"><i class="lnr lnr-user"></i></div>
                <div class="feature--content">
                  <h3>Boost Confidence</h3>
                  <p>Do you know “Improving English yields an average 38% boost in confidence and self-esteem.”</p>
                </div>
              </div>
              <!-- .feature-panel end  -->
            </div>
            <!-- .col-md-4 end  -->
            <!-- Panel #3  -->
            <div class="col-12 col-md-4 col-lg-4 ">
              <div class="feature-panel wow fadeInUp" data-wow-duration="1s">
                <div class="feature--icon"><i class="lnr lnr-chart-bars"></i></div>
                <div class="feature--content">
                  <h3>Lifetime Rewards</h3>
                  <p>Keep your Brian Sharp - Learning any language keeps your brain active and challenged and lifetime rewards for you and your`s loved ones</p>
                </div>
              </div>
              <!-- .feature-panel end  -->
            </div>
            <!-- .col-md-4 end  -->
          </div>
          <!-- End .row  -->
        </div>
        <!-- End .container  -->
      </section>
      <!-- feature2 end  -->
      <section class="pt-0 pb-0 bg-white">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <hr class="feature-divider"/>
            </div>
          </div>
          <!--End .row -->
        </div>
        <!-- End .container  -->
      </section>
      <!-- Feature #2=============================================
      -->
      <section class="feature feature-2 feature-left bg-white" id="feature3">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-5">
              <div class="heading heading-1 mb-60 wow fadeInUp" data-wow-duration="1s">
                <h2 class="heading--title pt-20">Our Secret Sauce</h2>
                <p class="heading--desc pl-0">Our #1 goal is Your Success - Our Ebook is Simple, Easy and Effective</p>
              </div>
              <div class="feature-panel mb-50 wow fadeInUp" data-wow-duration="1s">
                <div class="feature--icon"><i class="lnr lnr-book"></i></div>
                <div class="feature--content">
                  <h3>Your Ebook Copy</h3>
                  <p>We compiled expressions, idioms, slangs and much more from 1,000+ movies, 30 professional books just for you and your success.</p>
                </div>
              </div>
              <!-- End .feature-panel  -->
              <div class="feature-panel wow fadeInUp" data-wow-duration="1s">
                <div class="feature--icon"><i class="lnr lnr-star"></i></div>
                <div class="feature--content">
                  <h3>Easy as a Piece of Cake</h3>
                  <p>We made it so simple even a 7 years old can learn in no time - how old are you again :-) </p>
                </div>
              </div>
              <!-- End .feature-panel  -->
            </div>
            <!-- End .col-md-6-->
            <div class="col-12 col-md-12 col-lg-7 wow fadeInUp"><img class="img-fluid center-block" src="{% static 'assets/images/mockup/ipad.jpg' %}" alt="ipad"/></div>
            <!--  End .col-md-6 -->
          </div>
          <!-- End .row  -->
        </div>
        <!-- End .container  -->
      </section>
      <!-- End #feature2  -->
      <!--
      Banner
      =============================================
      -->
      <section class="banner pt-0 pb-0" id="banner">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 pr-0 pl-0">
              <div class="col-img">
                <div class="bg-section"><img src="{{arthurdetail.image.url}}" alt="Background"/></div>
              </div>
            </div>
            <!-- End .col-lg-6-->
            <div class="col-12 col-md-12 col-lg-6 col-content pl-100">
              <h3>Hello, Amigos (Friends),</h3>
              <p> {{arthurdetail.detail}}</p><img src="{{arthurdetail.sign.url}}" alt="signture"/>
            </div>
          </div>
          <!-- End .row  -->
        </div>
        <!-- End .container  -->
      </section>
      <!-- End #banner2  -->

      <!--
      Pricing Table #1
      =============================================
      -->
      <section class="pricing pricing-1 bg-gray" id="pricing">
        <div class="container">
          <div class="row clearfix">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="heading heading-1 mb-80 text--center wow fadeInUp" data-wow-duration="1s">
                <h2 class="heading--title">{{pricingplandetail.title}}</h2>
                <p class="heading--desc">{{pricingplandetail.detail}}</p>
              </div>
            </div>
            <!-- End .col-lg-6  -->
          </div>
          <!-- End .row  -->
          <div class="row">
            <!--
            Pricing Packge #1
            =============================================
            -->
            <div class=" col-12 col-md-6 col-lg-6 price-table wow fadeInUp" data-wow-duration="1s">
              <div class="pricing-panel">
                <!--  Pricing heading   -->
                <div class="pricing--heading text--center">
                  <div class="pricing--icon"> <i class="far fa-file-alt"></i></div>
                  <div class="pricing--heading">
                    <p>0<span class="currency">$</span></p>
                    <div class="pricing--desc">E-BOOK</div>
                  </div>
                </div>
                <!--  Pricing body   -->
                <div class="pricing--body">
                  <ul class="pricing--list list-unstyled">
                    <li>Free 10 Pages </li>
                    <li>Seeing is believing</li>
                    <li> </li>
                    <li> </li>
                    <br>
                    <br>
                    <br>
                  </ul>
                  <a button type="button" class="btn btn--primary btn--rounded" data-toggle="free_download" data-target="free_download.html" href="html/free_download.html" >Free Download</a>
                </div>
              </div>
            </div>
            <!-- End .pricing-table  -->
            <!--
            Pricing Packge #2
            =============================================
            -->
            <div class=" col-12 col-md-6 col-lg-6 price-table wow fadeInUp" data-wow-duration="1s">
              <div class="pricing-panel">
                <!--  Pricing heading   -->
                <div class="pricing--heading text--center">
                  <div class="pricing--icon"><i class="far fa-file-pdf"></i></div>
                  <div class="pricing--heading">
                    <p>3.99<span class="currency">$</span></p>
                    <!-- <span role="text"><span class="clipped">was </span><span class="strikethrough">US $6.99</span></span> -->
                    <span role="text"><span class="clipped">was </span><span class="strikethrough">US $11.99</span></span>
                    <br>
                    <span role="text">Due to COVID-19 Pandemic. Limited offer (66.72% OFF)</span>
                    <div class="pricing--desc">Soft Copy</div>
                  </div>
                </div>
                <!--  Pricing body   -->
                <div class="pricing--body">
                  <ul class="pricing--list list-unstyled">
                    <li>1,000 + Expressions</li>
                    <li>Slang</li>
                    <li>Idioms</li>
                    <li>And much more</li>
                  </ul><a class="btn btn--primary btn--rounded" href="#">Buy now</a>
                </div>
              </div>
            </div>
            <!-- End .pricing-table  -->
            <!--
            Pricing Packge #3
            =============================================
            -->

          </div>
          <!-- End .row  -->
        </div>
        <!-- End .container  -->
      </section>
      <!-- #pricing1 end  -->
      <!--
      CTA #1
      =============================================
      -->
      <section class="cta text-center pb-0 bg-dark" id="cta">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 offset-lg-3 mb-100 wow fadeInUp" data-wow-duration="1s">
              <h3>It's Time to Stand-out</h3>
              <p>This is your chance to super accelerate your life and career! This is a dirt-cheap price $3.99 / One meal price - Click with Confidence</p><a class="btn btn--primary btn--rounded" href="#">Free download</a><a class="btn btn--primary btn--rounded" href="#">Buy</a>
            </div>
            <!-- End .col-md-12  	-->
          </div>
          <!-- End .row    -->
        </div>
        <!-- End .container-->
      </section>
      <!-- End #cta1  -->
      <!--
      Footer #5
      =============================================
      -->
      <footer class="footer footer-5" id="footer">
        <!--
        Copyrights
        =============================================
        -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text--center">
              <div class="wdgt">
                <div >
                  <a class="logo navbar-brand" href="englishangrezi_index.html"><img class="logo logo-dark" src="{% static 'assets/images/logo/logo-dark2.png' %}" alt="Lenoto Logo"/><img class="logo logo-light" src="{% static 'assets/images/logo/logo-light1.png' %}" alt="Lenoto Logo"/></a>
                </div>
                <p itemprop="description">You Can.You Will</p>
                <ul class="abt-cnt-lst">
                  <li><i class="fa fa-map-marker"></i> TDCMUSA, LLC · P.O. Box 200 OKEMOS, MI 48805 · USA</li>
                  <li><i class="fa fa-phone"></i> Phone: (800)852-1486</li>
                  <li><i class="fa fa-envelope"></i><a href="mailto:info@englishangrezi.com" title="" itemprop="url">info@englishangrezi.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End .container  -->
      </footer>
    </div>
    <!-- End #wrapper   -->
    <!--
    Footer Scripts
    =============================================
    -->
    <script src="{% static 'assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor.js' %}"></script>
    <script src="{% static 'assets/js//vendor/jquery.mb.YTPlayer.min.js' %}"></script>
    <script src="{% static 'assets/js/functions.js' %}"></script>
  </body>
</html>